<div class="address-card">
    <h1 class ="name">{{user.name}}</h1>
    <h3 class ="title">{{user.title}}</h3>
    <button *ngIf="isCollapsed" (click)="toggleCollapse()">Expand</button>
    <button *ngIf="!isCollapsed" (click)="toggleCollapse()">Collapse</button>
    <div *ngIf="!isCollapsed">
    <p class ="address">{{user.address}}</p>
    <div class = "phone" *ngIf="user.Phone.length > 0">
        <p>Phone: </p>
        <!--<p>{{user.phone[0]}}</p>-->
        <!--<p>{{uuser.phone[1]}</p>-->
        <p *ngFor="let phoneNumber of user.Phone" >{{phoneNumber}}</p>
    </div>
    </div>
</div>